{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div>
{{ user.name }}
    <h1>Repositories</h1>
    <form action="/refresh" method="POST">
        <input type="submit" name="refresh" value="Refresh"/>
        <input type="hidden" name="timezone" value="Europe/London"/>
    </form>
</div>

<div class="repository-list">

    <ul id="repositories">
        {% for repo in repositories %}
        <li>
            <span>{{ repo.getFullName() }}</span>
            <span>{{ repo.getDescription() }}</span>
            <span><input class="repo_select" id="{{ repo.getFullName() }}" type="checkbox"{% if repo.isActive() %} checked {% endif %}></span>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
