{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div>
{{ user.name }}
    <h1>Repositories</h1>
</div>

<div class="repository-list">

    <ul id="repositories">
        {% for repo in available %}
        <li>
            <span>{{ repo.getFullName() }}</span>
            <span>{{ repo.getDescription() }}</span>
            <span><input id="{{ repo.getFullName() }}" type="checkbox"{% if repo.isActive() %} checked {% endif %}></span>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
